@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Lora&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
